.git
.github
.venv
venv
__pycache__
*.pyc
.pytest_cache
.ruff_cache
.mypy_cache
notebooks/
tests/
*.ipynb
*.md
.env
.env.*
!.env.example
logs/*
!logs/.gitkeep
models/*
!models/.gitkeep
mlruns/
mlflow.db
.dvc/
*.dvc
