fastapi==0.118.0
uvicorn[standard]==0.37.0
pydantic==2.11.7
scikit-learn==1.5.1
pandas==2.3.3
numpy==2.3.3
scipy==1.16.2
joblib==1.5.2
PyYAML==6.0.3
mlflow==3.16.0
great-expectations==1.23.0
prometheus-client==0.21.1
python-multipart==0.0.20
